.toggleWrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.on,.off{
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 30px;
    weight: bold;
    color: pink;
    text-shadow: 2px 2px 2px black;
    border-radius:20px;
    border: 1px solid grey;
    cursor: pointer;
    transition: all 0.5s ;

}
.on:hover,.off:hover{
    cursor: pointer;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    transition: all 1s ;
}
.on:active,.off:active{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-size: 30px;
    transform:  scale(0.9);
    transition: all 1s  ;
}
.on{
    background-color: rgba(0, 128, 0, 0.5);
}
.off{
    background-color: rgba(255, 0, 0, 0.5);
}



.heartRed, .heartGreen {
    position: relative;
    width: 100px;
    height: 90px;
}
.heartRed:before, .heartGreen:before, .heartRed:after, .heartGreen:after {
    position: absolute;
    content: "";
    left: 45px;
    top: 5px;
    width: 25px;
    height: 40px;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;

}
.heartRed:after, .heartGreen:after {
    top: 5px;
    left: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}


.heartRed::after, .heartRed::before {
    background-color: rgb(255, 108, 108);
    transition: all 1s;

}
.heartGreen::after, .heartGreen::before {
    background-color: rgb(90, 169, 90);
    transition: all 1s;
}