.toggleWrapper {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.on,.off{
    position: relative;
    width: 100px;
    height: 50px;
    font-size: 30px;
    weight: bold;
    color: pink;
    text-shadow: 2px 2px 2px black;
    border-radius:20px;
    border: 1px solid grey;
    cursor: pointer;
    transition: all 0.5s ;

}
.on:hover,.off:hover{
    cursor: pointer;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    transition: all 1s ;
}
.on:active,.off:active{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-size: 30px;
    transform:  scale(0.9);
    transition: all 1s  ;
}
.on{
    background-color: rgba(0, 128, 0, 0.5);
}
.off{
    background-color: rgba(255, 0, 0, 0.5);
}
.on::before,.off::before{
    content: "";
    position: absolute;
    left: 130px;
    width: 30px ;
    height:30px ;
    border: .5px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    box-shadow: -2px 2px 6px rgba(0, 0, 0);
}
.on::before{
    background-color: rgba(0, 128, 0, 0.5);
}
.off::before{
    background-color: rgba(255, 0, 0, 0.5);
}

